/************************
*** General
********************** */
@font-face {
  font-family: "Arial Rounded";
  src: url("fonts/ArialRoundedMTStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Rounded";
  src: url("fonts/ArialRoundedMTStd-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Rounded";
  src: url("fonts/ArialRoundedMTStd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Arial Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
html,
body {
  height: 100%;
}
h1 {
  font-size: clamp(1.5rem, calc(1.5rem + 3vw), 10rem);
}
h2 {
  font-size: clamp(1.4rem, calc(1.4rem + 2vw), 7rem);
  font-weight: normal;
}
.d-none {
  display: none;
}
.visitor-name,
.visitor-island {
  text-transform: capitalize;
}

/************************
*** Villagers
********************** */
.ac-villagers {
  padding: 2rem;
}
.villagers {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(128px + 10px));
  grid-gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.villager {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  position: relative;
  overflow: hidden;
  background: #eee;
  transition: 0.5s ease background;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
}
.villager[disabled] {
  cursor: not-allowed;
}
.villager.visible {
  background: var(--bubbleColor);
}
.villager__name {
  padding: 5px;
  color: var(--textColor);
  text-align: center;
}
.villager__icon {
  opacity: 0;
  transition: 0.5s ease opacity, 0.5s ease-in-out transform;
  height: 128px;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translate3d(0, -10px, 0);
}
.villager.loading.visible::before {
  opacity: 0;
}
.villager__name {
  opacity: 0.5;
  transition: 1s ease opacity;
}
.visible {
  opacity: 1;
}
.villager__icon.visible {
  transform: translate3d(0, 0px, 0);
}

.villager.loading::before {
  content: "";
  position: absolute;
  left: 50%;
  color: #7d7d7d;
  font-size: 5px;
  margin: 55px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transition: 0.2s ease;
}

@media screen and (min-width: 768px) {
  .villager-details {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/************************
*** Intro
********************** */
body {
  overflow-x: hidden;
}
.ac-welcome {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.ac-welcome__loading {
  position: absolute;
  left: 50%;
  color: #7d7d7d;
  font-size: 5px;
  margin: 55px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transition: 0.2s ease;
  opacity: 1;
}
.loaded .ac-welcome__loading,
.ac-welcome__loaded,
.ac-welcome__bg,
.ac-welcome__title,
.ac-welcome__form {
  opacity: 0;
  transition: 0.5s ease opacity;
}
.ac-welcome__form {
  pointer-events: none;
}
.loaded .ac-welcome__bg,
.loaded .ac-welcome__loaded,
.loaded .ac-welcome__title,
.loaded .ac-welcome__form--name {
  opacity: 1;
  pointer-events: unset;
}
.ac-welcome__bg {
  object-fit: cover;
  object-position: 50% bottom;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.loaded .ac-welcome__bg {
  animation-name: bg;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.nook {
  max-width: 300px;
  transition: 1.5s ease all;
  transition-delay: 0.5s;
  transform: translate3d(0, 1rem, 0) scale(0.95);
  opacity: 0;
  margin-bottom: 2rem;
}
.loaded .nook {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
.loaded .ac-welcome__title {
  transition-delay: 1.8s;
  margin-bottom: 1.5rem;
}
.loaded .ac-welcome__form--name {
  transition-delay: 2.75s;
}
.ac-welcome__form-el {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.ac-welcome__form-input,
.ac-welcome__form-btn {
  padding: 0.5rem;
  font-size: 1.4rem;
}
.ac-welcome__form-input {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #ccc;
  margin-bottom: 0.5rem;
  text-align: center;
}
.ac-welcome__form--name.complete {
  transition-delay: 0s !important;
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}
.ac-welcome__form--name.complete + .ac-welcome__form--island {
  opacity: 1;
  pointer-events: unset;
}
.ac-welcome__new {
  display: grid;
  margin-bottom: 1rem;
}
.ac-welcome__new > * {
  grid-column: 1;
  grid-row: 1;
}
.ac-welcome__returning {
  padding: 2rem 0;
  font-size: 1.5rem;
  background: white;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.ac-welcome__returning::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #ffffff transparent transparent transparent;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.ac-welcome__form--name.complete + .ac-welcome__form--island.complete {
  opacity: 0;
}
.ac-welcome__form--island.complete + .ac-welcome__returning {
  display: block;
  opacity: 1;
}

@keyframes bg {
  0% {
    transform: scale(1.2);
    /* filter: blur(20px); */
  }
  100% {
    transform: scale(1);
    /* filter: blur(0px); */
  }
}

@media screen and (min-width: 992px) {
  .ac-welcome {
    justify-content: center;
  }
}

/************************
*** Lifestyles
********************** */
.ac-ls {
  padding: 2rem;
}
.ac-ls-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.ac-ls-select__item {
  border: 0;
  background: beige;
  cursor: pointer;
  transition: 0.3s ease all;
  filter: grayscale(0.8);
  opacity: 0.5;
  border: 5px solid #fff;
  line-height: 0;
}
.ac-ls-select__item:hover {
  border-color: red;
  filter: grayscale(0.3);
  opacity: 0.8;
}
.ac-ls-select__item.active {
  /* box-shadow: inset 0 0 0 5px red; */
  opacity: 1;
  filter: grayscale(0);
  opacity: 1;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ac-ls-select__image {
  max-width: 100%;
  max-height: 100%;
}

.ac-ls-main {
  height: 50vh;
  display: grid;
  place-items: center;
}
.ac-ls-main__image {
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  max-height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  transition: 0.2s ease-in-out all;
  transform: translate3d(-20vw, 0, 0);
}
.ac-ls-main__image.active {
  opacity: 1;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  order: 2;
  /* transition-delay: 0.5s; */
  transform: translate3d(0vw, 0, 0);
}

@media screen and (min-width: 992px) {
  .ac-ls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .ac-title--ls {
    grid-column: span 2;
    text-align: center;
  }
}

@keyframes flash {
  0% {
    border: 5px solid yellow;
  }
  100% {
    border: 5px solid#cc0000;
  }
}
